<div class="container-fluid col-md-9">
    <header class="blog-header py-3 top-buffer-large">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4">
            <LinkTo @route="home" class="blog-header-logo text-dark">
                NatBK
            </LinkTo>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
          </div>
        </div>
      </header>

      <div class=" py-1 mb-2">
        <nav class="nav d-flex text-centre">
          <LinkTo @route="home" class="nav-item p-2 text-muted">
              Home
          </LinkTo>
          <LinkTo class="nav-item p-2 text-muted" @route="posts">
                Blog
          </LinkTo>
          <LinkTo @route="CV" class="nav-item p-2 text-muted">
              Resume
          </LinkTo>
          <a class="nav-item p-2 text-muted" href="#">Contributors</a>
    
        </nav>
      </div>
</div>


<main role="main" class="container-fluid col-md-9">
  {{outlet}}
</main>



<div class="container-fluid col-md-9 top-buffer-small">

  <hr>
  <footer class="container max-w-xl px-4 md:px-8 mx-auto border-t border-grey py-6 mt-6 text-center text-sm sm:text-base">
      <p>
        &copy; 2019 Nathanael Boketey-Kwaku &nbsp;&bull;&nbsp;
        <a href="http://twitter.com/natborks">@natborks</a> &nbsp;&bull;&nbsp; 
        <a href="/blog/feed.atom">RSS</a> &nbsp;&bull;&nbsp; Like what I write? Send me an email 
        &amp; we can work together
      </p>
  </footer>
  <br>
  <br>
</div>


